<!doctype html>
<html LANG="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Stonemason {{ theme.tag|upper }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

    <style type="text/css">

        body {
        padding: 0;
        margin: 0;
        }

        html, body, #map {
        height: 100%;
        }

    </style>

</head>
<body>

<div id="map"></div>


<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script type="text/javascript">

    var map = L.map('map').setView(
        L.latLng(
            {{ theme.metadata.center[1] }},
            {{ theme.metadata.center[0] }}
        ),
        {{ theme.metadata.center_zoom }});

    L.tileLayer('/tiles/{{ theme.tag }}/{z}/{x}/{y}.jpg', {
        attribution: "{{ theme.metadata.attribution }}",
        minZoom: {{ theme.pyramid.levels|first  }},
        maxZoom: {{ theme.pyramid.levels|last  }},
        detectRetina: true,

    }).addTo(map);
    
</script>

</body>
</html>
