<!doctype html>
<html LANG="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Stonemason - {{ map_book.name }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="http://cdn.masonmaps.me/assets/leaflet-0.7.3/leaflet.css"/>

    <style type="text/css">

        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
        }

    </style>

</head>
<body>

<div id="map"></div>


<script src="http://cdn.masonmaps.me/assets/leaflet-0.7.3/leaflet.js"></script>

<script type="text/javascript">

    var layers = {};

    {% for sheet in map_book.sheets() %}

        var layer = L.tileLayer('/tiles/{{ map_book.name }}/{z}/{x}/{y}{{ sheet.tag }}', {
            attribution: "{{ map_book.metadata.attribution }}",
            minZoom: {{ sheet.pyramid.levels|first  }},
            maxZoom: {{ sheet.pyramid.levels|last  }},
            detectRetina: true,
            errorTileUrl: 'http://cdn.masonmaps.me/assets/404.png',
            noWrap: true,
            continuousWorld: false
        });

        layers['{{ map_book.name+sheet.tag }}'] = layer;

    {% endfor %}

    var center = L.latLng({{ map_book.metadata.origin[1] }}, {{ map_book.metadata.origin[0] }});
    var zoom = {{ map_book.metadata.origin_zoom }};
    var map = L.map('map',
            {
                layers: [layer]
            });

    map.setView(center, zoom);


    L.control.layers(layers).addTo(map);


</script>

</body>
</html>
